* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

header li,
a {
  list-style: none;
  text-transform: none;
}

header {
  height: 800px;
  background-image: url("../img/hero\ image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header a {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

.header-right-manu img {
  width: 19.979px;
  height: 17.105px;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 50px 100px;
}

@font-face {
  font-family: "Tinos";
  src: url("../font/Tinos-Regular.ttf");
}

.header-right {
  display: flex;
}

.header-right-manu ul {
  display: flex;
  justify-content: space-between;
}

header li {
  padding: 0 20px;
}

.header-right-manu {
  display: flex;
  justify-content: space-between;
}

.connection-number {
  display: flex;
  flex-direction: column;
}

.header-right-buy {
  display: flex;
}

.header-right-manu {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.line {
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 1);
  border-right-width: 1px;
  width: 20px;
  height: 51px;
}

.connection a {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.connection-number h2 {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.welcome {
  padding-top: 200px;
  padding-left: 200px;
  color: rgba(214, 126, 53, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-food {
  display: flex;
  padding-left: 100px;
}

.welcome h2 {
  color: #d67e35;
  font-family: "Tinos";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 50px;
}

.welcome h1 {
  color: #d67e35;
  font-family: "Tinos";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome h3 {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 7px;
}

.number a {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  background-color: #d67e35;
  padding: 20px 20px;
}

.connect {
  display: flex;
}

.connect h2 {
  padding-left: 5px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.connection-number p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy {
  width: 157px;
  height: 47px;
  background-color: #ff7400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number p {
  padding-right: 20px;
}

.welcome a {
  width: 137px;
  height: 47px;
  background-color: #ff7400;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wiew {
  padding-left: 180px;
  padding-top: 20px;
}

.foods {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.food {
  background-color: white;
  width: 300px;
  height: 280px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.food img {
  width: 70px;
  margin-top: -20px;
}

.food span {
  margin: 20px 0;
}

.food p {
  margin-top: -20px;
}

.group {
  display: none;
}

.history {
  padding-top: 200px;
}

.history-right span {
  font-family: "Tinos";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brown {
  color: #d67e35;
  padding-left: 20px;
}

.history-right {
  width: 444px;
  height: 422px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.history {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-left {
  width: 539px;
  height: 498px;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.history-right-title {
  display: flex;
  justify-content: space-around;
}

.history-right p {
  color: #656363;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rating h2 {
  color: #bc9060;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rating p {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.history-left-back {
  width: 212px;
  height: 164px;
  background-color: #ffe8d0;
  position: absolute;
  z-index: -2;
  left: 100px;
  top: 40px;
}

.history-left {
  position: relative;
  left: 184px;
}

.history-left-img {
  position: absolute;
  z-index: 1;
  left: -180px;
  top: 10px;
}

.history-left-img2 {
  position: absolute;
  z-index: -1;
}

.history-left-img3 {
  position: absolute;
  z-index: 2;
  right: 180px;
  top: 200px;
}

.order {
  background-image: url("../img/Rectangle\ 38.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 50px;
  margin-top: 50px;
}

.order-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order-left h1 {
  color: #d67e34;
  font-family: "Tinos";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order-left h3 {
  color: #fff;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.order-right button {
  width: 157px;
  height: 47px;
  background-color: #ff7400;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.our-foods span {
  font-family: "Tinos";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brown2 {
  color: #d67e34;
  font-family: "Tinos";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pizza {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pizza-left {
  display: flex;
  justify-content: space-between;
}

.pizza-left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizza-right-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 210px;
  height: 140px;
}

.pizza2 {
  width: 711px;
  height: 474px;
  padding-right: 200px;
}

.pizza-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-foods {
  padding: 30px 0;
}

.pizza3 {
  display: none;
}

nav {
  position: fixed;
  padding-left: 0px;
}

.gamburger-manu {
  width: 350px;
  height: 510px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 60px;
}

.gamburger-manu2 {
  width: 350px;
  height: 510px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  position: relative;
}

.gamburgers {
  display: flex;
  background-image: url("../img/bar-1869656_1920\ 2.png");
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: relative;
}

.gamburgers img {
  border-radius: 50%;
}

.rec {
  position: absolute;
  left: 0px;
  width: 124px;
  height: 36px;
  background-color: #d67e34;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.hamburg h3 {
  position: absolute;
  top: 210px;
  right: 60px;
  width: 90px;
  height: 90px;
  background-color: #d67e34;
  stroke-width: 7px;
  stroke: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-style: solid;
  border-width: 7px;
  border-color: #fff;
}
.pizza {
  padding-bottom: 100px;
}
.gamburgers h2 {
  color: #000;
  font-family: "Tinos";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gamburgers p {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gamburgers button {
  width: 220px;
  height: 50px;
  background-color: #d67e34;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-bottom: 50px;
}
.gamburgers {
  padding: 100px 20px;
  padding-right: 200px;
}
.nikolay {
  background-color: #e5e5e5;
  padding: 70px 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nikolay h2 {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}
.nikolay-image {
  border-radius: 50%;
  margin-bottom: 20px;
}
.nikolay h3 {
  color: #000;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nikolay p {
  color: #000;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}
.gallery-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images-2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.images-3 {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery span {
  font-family: "Tinos";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gallery-food {
  color: #d67e34;
  padding-left: 10px;
}
.gallery-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.coffe {
  padding-top: 20px;
}
.table-2 {
  display: none;
}
.cookers-span span {
  font-family: 'Tinos';
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our-cookers{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cookers-span{
  padding: 20px 0;
}
.cookers-images{
  display: flex;
  justify-content: space-between;
}
.cookers-images img{
  padding: 0 32px;
}
.st-2{
  display: none;
}
.st{
  margin-top: 50px;
}
nav{
  padding-left: 17%;
}
@media screen and (max-width: 480px) {
  .container {
    max-width:320px;
  }
  .header-right-buy {
    display: none;
  }

  .header-right-manu {
    display: none;
  }

  .welcome {
    padding-left: 0;
    padding-top: 200px;
  }

  .welcome h2 {
    font-size: 20px;
    padding-left: 60px;
  }

  .welcome h1 {
    font-size: 40px;
    padding-left: 30px;
  }

  .welcome-food h3 {
    font-size: 10px;
  }

  .welcome-food {
    padding-left: 37px;
    padding-top: 20px;
  }

  .wiew {
    padding-left: 90px;
  }

  .group {
    display: inline-block;
  }

  .header-left img {
    width: 35px;
  }

  nav {
    justify-content: space-between;
    padding: 50px 0;
  }

  .header-left {
    padding-left: 100px;
  }

  .foods {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 150px;
    padding-left: 20px;
  }

  .food {
    width: 270px;
    height: 270px;
    margin: 10px 0;
  }

  .history-right-title {
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Tinos";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .brown {
    padding: 0;
  }

  .history {
    flex-direction: column;
    margin-top: 550px;
  }

  .rating {
    flex-direction: column;
  }

  .history-right-paragh {
    width: 80%;
    height: 341px;
  }

  .history-left-img {
    width: 125.362px;
    height: 154.861px;
    left: -70px;
  }

  .history-left-img2 {
    width: 137.199px;
    height: 221.968px;
    left: 10px;
  }

  .history-left-back {
    width: 114.063px;
    height: 84.657px;
    left: 60px;
    top: 10px;
  }

  .history-left-img3 {
    width: 137.199px;
    height: 205.965px;
    top: 60px;
    right: 320px;
  }

  .history-left {
    top: 55px;
    left: 190px;
  }

  .order-left h1 {
    color: #d67e34;
    text-align: center;
    font-family: "Tinos";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .order {
    flex-direction: column;
  }

  .order h3 {
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0;
  }

  .pizza2 {
    display: none;
  }

  .pizza3 {
    display: inline-block;
  }

  .our-foods span {
    text-align: center;
    font-family: "Tinos";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .our-foods {
    flex-direction: column;
    display: flex;
  }

  .pizza-left {
    flex-direction: column;
  }

  .hamburger {
    width: 140.625px;
    height: 113.75px;
  }

  .pizza-left-right {
    padding: 10px 0px;
  }

  .pizza-right-title img {
    display: none;
  }

  .pizza-right-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pizza-photos {
    padding: 20px 10px;
  }
  .gamburger-manu2 {
    display: none;
  }
  .gamburgers {
    padding: 100px 20px;
    flex-direction: column;
  }
  .gamburgers h1 {
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Tinos";
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0;
  }
  .gamburger-manu {
    width: 290px;
    height: 510px;
  }
  .nikolay {
    padding: 20px 20%;
  }
  .gallery-title {
    flex-direction: column;
  }
  .gallery-food {
    padding-left: 0;
  }
  .gallery-images {
    flex-direction: column;
  }
  .table {
    display: none;
  }
  .table-2 {
    display: inline-block;
  }
  .images-2 {
    flex-direction: column;
    padding-bottom: 0;
  }
  .coffe {
    padding-top: 0;
  }
  .images-3 {
    padding-right: 0;
  }
  .gallery img {
    margin: 15px 0;
  }
  .cookers-images{
    flex-direction: column;
    align-items: center;
  }
  .cookers-images img{
    padding: 10px 0;
    width: 95%;
  }
  .our-cookers{
    padding: 10px ;
  }
  .cookers-span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .st{
    display: none;
  }
  .st-2{
    display: inline-block;
    margin-top: 20px;
  }
  img{
    width: 90%;
  }
  .gamburgers{
    background-image: url('../img/bar.png');
  }
  header{
    background-image: url('../img/HERO\ IMG.png');
    align-items: center;
  }
  .history-right-paragh{
    width: 80%;
  }
  .history-right{
    padding: 10px 50px;
  }
  .welcome
  {
    padding-right: 20px;
  }
  .header-left{
    padding-left: 50px;
    padding-right: 170px;
  }
  .st-section{
    padding-left: 30px;
  }
  .pizza3{
    width: 100%;
  }
  nav{
    background-color: #000;
    align-items: center;
  }
}
